$main-font: "Verdana";
//font for every text and title

//dark theme colors
$dark-background-color: #141824;
$dark-theme-text-color: #FFB600;
$dark-theme-border-color: #FFB600;
$dark-shadow-color: #997000;
$dark-background-color-transparent: #14182480;

//light theme colors
$light-background-color: #FDFAE4;
$light-theme-text-color: #141824;
$light-theme-border-color: #141824;
$light-shadow-color: #141824;
$light-background-color-transparent: #FDFAE480;

// norway colors
$norwegian-red: #BA0C2F;
$norwegian-red-transparent: #BA0C2F80;